@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

body {
    background-color: rgba(0, 0, 0, 1);
    overflow-x: hidden;
}

.container {
    min-width: 100vw;
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
}

.header {
    min-height: 20vh;
    width: 100%;
    display: flex;
    background-color: #291a06;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    gap: .5rem;
}

.main div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main input {
    width: max-content;
    -moz-appearance: textfield;
    appearance: textfield;
    padding: 0.5rem 5rem 0.5rem 1rem;
    margin-right: 1rem;
    border: none;
    border-radius: 10px;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.main input::placeholder {
    font-weight: bold;
}

#btn {
    padding: 0.5rem 2rem;
    font-weight: bold;
    border-radius: 10px;
}

#btn:disabled {
    display: none;
}

.main ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 3rem 0;
}

.main ul li {
    display: flex;
    flex-flow: row wrap;
    width: 2.5em;
    height: 2.5rem;
    border-radius: 25px;
    background-color: #1C8D7E;
    color: #fff;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 3px #0b3832 solid;
}

#firstItem {
    width: 100%;
    height: 100%;
    padding: 15px;
}

#btnReset {
    padding: 0.5rem 4rem;
    font-weight: bold;
}

#showNumber {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 1;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

.box {
    width: 80vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #60afa4;
    border-radius: 25px;
    padding: 2rem 3rem;
    text-align: center;
}

.texInfoBox {
    width: 100%;
    height: 10%;
    text-align: end;
}

.close {
    border: none;
    background: none;
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
}

.box p {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 2rem;
}

.box span {
    margin-left: 20px;
    font-size: 5rem;
}