@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

body {
    background-color: rgba(0, 0, 0, 1);
}

.container {
    min-width: 100vw;
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
}

.header {
    min-height: 20vh;
    width: 100%;
    display: flex;
    background-color: antiquewhite;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    gap: .5rem;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.main input {
    padding: 0.5rem 5rem 0.5rem 1rem;
    margin-right: 2rem;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;

}

input {
    -moz-appearance: textfield;
    appearance: textfield;

}

#btn {
    padding: 0.5rem 2rem;
    font-weight: bold;
}

.main ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 3rem 0;
}

.main ul li {
    display: flex;
    flex-flow: row wrap;
    width: 2.5em;
    height: 2.5rem;
    border-radius: 25px;
    background-color: aqua;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

#btnReset {
    padding: 0.5rem 4rem;
    font-weight: bold;
}